.text-style {
    letter-spacing: 2px;
    
};

.wrapper {
    max-width: 960px;
    justify-content: center;
}

.innerWrapper {
    max-width: 540px;
    display: block;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(even) {
    background-color: white;
}
